[Unit]
Description=VSO Shell Pre-Run

[Service]
Type=oneshot
ExecStartPre=/usr/bin/wait-for-connection
ExecStart=/usr/bin/vso run -n -- echo vso container started

[Install]
WantedBy=default.target
