[Unit]
Description=VSO Shell Pre-Run

[Service]
ExecStartPre=/usr/bin/wait-for-connection
ExecStart=/usr/bin/vso run -n -- ls || true
Restart=always

[Install]
WantedBy=default.target
