[Desktop Entry]
Name=ABRoot Rollback Notifier
Exec=/usr/bin/abroot-rollback-notifier
Type=Application
X-GNOME-Autostart-enabled=true
Hidden=true
NoDisplay=true