[Unit]
Description=Mount ABRoot fstab entries at boot
After=network.target
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/mount -a ; /usr/sbin/swapon -a'

[Install]
WantedBy=multi-user.target
